<%= link_to link_destination, data: { method: method, remote: remote }, confirm: confirm, class: "Polaris-Button #{additional_classes}", target: target, 'data-polaris-unstyled': true do %>
  <span class="Polaris-Button__Content"><span><%= name || capture(&block) %></span></span>
<% end %>
