<% data ||= nil %>
<%= button_tag type: type, class: "Polaris-Button Polaris-Button--pressable Polaris-Button--sizeMedium Polaris-Button--textAlignCenter #{additional_classes}", data: data do %>
  <span class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--medium"><%= name %></span>
<% end %>
