<div class="Polaris-FooterHelp">
  <div class="Polaris-FooterHelp__Content">
    <div class="Polaris-FooterHelp__Icon">
      <span class="Polaris-Icon Polaris-Icon--colorHighlight Polaris-Icon--applyColor">
        <svg role="img" class="Polaris-Icon__Svg" aria-labelledby="next-help-f4f13b47b896c4e3dda071982d260af5-title">
          <title id="next-help-f4f13b47b896c4e3dda071982d260af5-title">Help</title>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#<%= icon %>">
          </use>
        </svg>
      </span>
    </div>
    <div class="Polaris-FooterHelp__Text">
      <%= capture(&block) %>
    </div>
  </div>
</div>
