<div class="Polaris-FormLayout__Item">
  <div class="">
    <div class="Polaris-Labelled__LabelWrapper">
      <div class="Polaris-Label">
        <%= form.label att, text, class: 'Polaris-Label__Text' %>
      </div>
    </div>
    <div class="No-Polaris-TextField">
      <%= capture(&block) %>
    </div>
  </div>
</div>
