<div class="Polaris-PageActions">
  <div class="Polaris-Stack Polaris-Stack--spacingTight Polaris-Stack--distributionEqualSpacing">
    <div class="Polaris-Stack__Item">
      <% if left.is_a? Array %>
        <% left.each do |item| %>
          <%= item %>
        <% end %>
      <% else %>
        <%= left %>
      <% end %>
    </div>
    <div class="Polaris-Stack__Item">
      <% if right.is_a? Array %>
        <% right.each do |item| %>
          <%= item %>
        <% end %>
      <% else %>
        <%= right %>
      <% end %>
    </div>
  </div>
</div>
