<% # TODO: Eventually refactor this to just take an array of buttons instead of left and right %>
<div class="Polaris-PageActions">
  <div class="Polaris-LegacyStack Polaris-LegacyStack--spacingTight Polaris-LegacyStack--distributionTrailing">
    <% if left.is_a? Array %>
      <% left.each do |item| %>
        <div class="Polaris-LegacyStack__Item">
          <%= item %>
        </div>
      <% end %>
    <% else %>
      <div class="Polaris-LegacyStack__Item">
        <%= left %>
      </div>
    <% end %>
    <% if right.is_a? Array %>
      <% right.each do |item| %>
        <div class="Polaris-LegacyStack__Item">
          <%= item %>
        </div>
      <% end %>
    <% else %>
      <div class="Polaris-LegacyStack__Item">
        <%= right %>
      </div>
    <% end %>
  </div>
</div>
