<li role="presentation" class="Polaris-Tabs__TabContainer">
  <%= link_to link_path, class: "Polaris-Tabs__Tab #{'Polaris-Tabs__Tab--active' if active}" do %>
    <span class="Polaris-Tabs__Title"><%= text %></span>
  <% end %>
</li>


