<% attribute.each do |att| %>
  <div class="Polaris-FormLayout__Item">
    <div class="">
      <% unless options[:supress_label] %>
        <div class="Polaris-Labelled__LabelWrapper">
          <div class="Polaris-Label">
            <%= form.label att, options[:label], class: 'Polaris-Label__Text' %>
          </div>
        </div>
      <% end %>
      <div class="Polaris-TextField">
        <%= form.send element_type, att, id: "#{form.object.class.name.tableize.singularize}_#{att}", class: "Polaris-TextField__Input", placeholder: options[:placeholder], value: options[:value] %>
        <div class="Polaris-TextField__Backdrop"></div>
      </div>
    </div>
  </div>
<% end %>
