<span class="Polaris-Thumbnail Polaris-Thumbnail--sizeMedium">
  <% if attributes[:src].present? %>
    <img src="<%= attributes[:src] %>" alt="<%= attributes[:alt] %>" class="Polaris-Thumbnail__Image">
  <% else %>
    <svg class="next-icon next-icon--size-24 next-icon--no-nudge">
      <use xmlns:xlink="https://www.w3.org/1999/xlink" xlink:href="#next-photos"></use>
    </svg>
  <% end %>
</span>
