<span class="Polaris-Thumbnail Polaris-Thumbnail--sizeMedium">
  <% if attributes[:src].present? %>
    <img src="<%= attributes[:src] %>" alt="<%= attributes[:alt] %>" class="Polaris-Thumbnail__Image">
  <% else %>
    <span class="Polaris-Icon" aria-label="Small document">
      <svg class="Polaris-Icon__Svg" viewBox="0 0 20 20">
        <use xmlns:xlink="https://www.w3.org/1999/xlink" xlink:href="#next-photos"></use>
      </svg>
    </span>
  <% end %>
</span>
